body{
    background: #eee;
    font:normal 14px Trebuchet MS;
}
.wrapper{
    margin:5px auto;
    width:410px;
    background:#fff;
    padding: 50px;
   line-height: 25px;
     box-shadow: 0 0 5px rgba(0,0,0,0.5)
}
.wrapper h1 {
    text-align:center;
    font-size:16px;
    font-weight: 600;
}
.foto {background:url("../image/profile.jpg") center no-repeat;
    margin:15px auto;
    
    width:140px;height:140px;
 }
.mission ul li{
    margin-left:20px; 
}
.wrapper p {
    margin-top: 15px;
}
.mission ul { margin-top: 15px}
.me,
.mission,
.contacts{
	padding-bottom:15px;
	border-bottom: 1px solid #e0dfdf;
}
